# include everything by default;
!*
# ignore useless system files
Desktop.ini
Thumbs.db
.DS_STORE

# anything beginning with double-underscore will be excluded
__*
**\__*

# PortaDOOM will be built from source
PortaDOOM.exe

# ignore UPX temporary files if left behind
**.upx
# ignore SLADE backups
**.bak

# do not include DOOM files by default (very, very large)
**.wad
**.iwad
**.pk3
**.pke
**.epk
**.ipk3
**.pk7
**.n64
**.v64
**.z64
**.bex
**.deh
**.lmp
**.acs

# in-folder GZDoom config files
**/gzdoom-*.ini
**/gzdoom.ini

# do not include executables
**.exe
**.dll
# except executables used to modify config files
# (cfgini.exe is built from source)
!files/config/fart.exe

# do not include misc archive files
**.zip
**.rar
**.7z

# document types excluded
**.ogg
**.md3
**.md2
**.wav
**.mid
**.mp3
**.flac
**.wav
**.rtf
**.pdf
**.doc
**.docx
**.htm
**.html
**.css
