# DO NOT INCLUDE WADs, it would balloon the repository to many gigs
# Download a PortaDOOM release and unzip it into your repository to get the WADs
**.wad
**.pk3
**.pk7
**.N64
**.V64
**.Z64

# DO include the CHEX.WAD patch for source-port compatibility
# (.deh files are normally excluded)
!chex.deh