# always ignore these WADs:
# (DO NOT UPLOAD COMMERCIAL DOOM WADS!)
DOOM.WAD
DOOM2.WAD
# doom 64: (which can be either original ROMS or an exported WAD)
DOOM64.WAD
*.N64
*.V64
*.Z64
# final doom:
TNT.WAD
PLUTONIA.WAD
# the lost episodes of doom:
jptr_v40.wad
# wad-smoosh:
doom_complete.pk3
# hertic / hexen:
HERETIC.WAD
HEXEN.WAD
HEXDD.WAD
# strife:
STRIFE.WAD
STRIFE1.WAD
VOICES.WAD
# chex quest:
CHEX.WAD